AUTHOR="Foo Bar"
AUTHOR_EMAIL="${USER}@$(hostname -f)"
VERSION='0.1'
DEPLOYMENT_PATH="${HOME}/src"
LICENSE='GPLv3'
LICENSE_URL='https://www.gnu.org/licenses/gpl-3.0.txt'
FORGEJO_INSTANCE=''
FORGEJO_TOKEN="$(pass show forgejo_token)"
